<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Creating an Post
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="createPost()">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" name="title" minlength="3" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Content</ion-label>
      <ion-textarea [(ngModel)]="post.content" name="description" rows="5" minlength="10" required></ion-textarea>
      <!-- <ckeditor [(ngModel)]="post.content" [editor]="Editor" [ngModelOptions]="{standalone: true}"></ckeditor> -->
    </ion-item>
    <ion-button expand="block" color="success" type="submit" size="large">Success</ion-button>
  </form>
  
</ion-content>
