<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="createPost()">
    <ion-item>
      <ion-label>Post</ion-label>
      <ion-input type="text" [(ngModel)]="post.title" name="title" minlength="3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Content</ion-label>
      <ion-textarea [(ngModel)]="post.content" name="description" minlength="3"></ion-textarea>
    </ion-item>
    <ion-button color="success" type="submit">Success</ion-button>
  </form>

</ion-content>
